body {
    font-family: Arial, sans-serif;
    background-image: url("https://cdn3.vectorstock.com/i/1000x1000/31/62/clock-timer-icon-seamless-pattern-background-vector-21423162.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #80b8a6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.converter {
    margin-bottom: 20px;
}

.converter input, .converter select, .converter button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #23704b;
    background-color: #b4f4e0;
    border-radius: 4px;
}

.result p {
    margin: 10px 0;
}
